<?php

/** @var \Apsl\StoreLocator\Block\StoreList $block */
//$something = $block->getSomething();
//$this->helper('Apsl\StoreLocator\Helper\Data');
?>

<div>
    <h1><?php echo __('Lista naszych sklepów:') ?></h1>
    <?php
    foreach ($block->getAvailableStore() as $item) {
        $hrefstore = $block->getUrl('apsl_storelocator/store/store', ['id' => $item->getId()]);

        echo '<ul>' . '<li>Nazwa sklepu: ' . $item->getData('name') . '<br>Link: <a href="' . $hrefstore .'">' . $hrefstore . '</a></li>' . '</ul>';
    }; ?>
</div>
