<?php foreach ($block->getAvailableStore() as $item) {
if($block->getId()) {
if ($item->getData('is_active') == 1) {
$p = 'Otwarty';
} else {
$p = "Zamknięty";
}

$hrefstore = $block->getUrl('apsl_storelocator/store/store', ['id' => $item->getId()]);

echo '<ul>' . '<li>Nazwa sklepu: ' . $item->getData('name', ['id' => $item->getId()]) . '<br>Opis Sklepu: ' . $item->getData('Description') . '<br>
        Czynny: '. $p . '<br>Link: <a href="' . $hrefstore .'">' . $hrefstore . '</a></li>' . '</ul>';
}}; ?>